@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .bg-glass {
    @apply bg-white/10 backdrop-blur-lg border border-white/20;
  }
}

body {
  margin: 0;
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #ffffff;
  color: #101838;
}
